# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
dist-ssr/
*.local

# Vite
.vite/

# dotenv 환경파일
.env
.env.*
!.env.sample

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
venv/
ENV/

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log
logs/
*.pid

# Mac
.DS_Store

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# JetBrains IDEs
.idea/

# System files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
*.tar
.dockerignore
